[user]
	name = Paweł Kowalski
	email = pavelloz@gmail.com
[github]
    user = pavelloz
[core]
    # Use custom `.gitignore` and `.gitattributes`
    attributesfile = ~/.gitattributes
    quotepath = false
    excludesfile = ~/.gitignore_global

    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    # [default] trailing-space: looks for spaces at the end of a line
    # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

    # Make `git rebase` safer on macOS
    # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
    trustctime = false

    # Prevent showing files whose names contain non-ASCII symbols as unversioned.
    # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
    precomposeunicode = false

[status]
    relativePaths = true
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[gist]
    browse = true
    private = true
[pull]
    rebase = true
[push]
	default = simple
    autoSetupRemote = true
[merge]
    log = true
    keepBackup = false;
    tool = smerge
    prompt = false
[mergetool "smerge"]
    cmd = smerge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
    prompt = false
[gc]
	auto = 0
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[diff]
	renameLimit = 999999
[rebase]
	instructionFormat = (%an <%ae>) %s

[gpg]
	format = ssh
